<nav class="navbar navbar-expand-md bg-body-light border_bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://nituk.ac.in/" target="_blank">
        <img src="/images/nit-logo.webp" alt="Logo" width="55" height="34" class="d-inline-block align-text-top">
        NIT Uttarakhand
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <!-- <a class="nav-link" href="#about">About</a> -->
          <a class="nav-link " href="/admin">Admin</a>
          <a class="nav-link " href="/student">Student</a>
          <!-- <a class="nav-link" href="#contact">Contact us</a> -->
        </div>
      </div>
    </div>
  </nav>