.bodyCourses{
    background-image: url("/images/Subjects.jpg") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bodyCourses h2{
    text-align: center;
    font-weight: bold;
    color:white
}
.courses{
    margin: 10px 10px 10px 10px;
    padding: 5px 0px 0px 5px;
    height: 245px;
    width: 100%;
    max-width: 270px;
    background-color: rgb(252, 245, 237);
    border-radius: 8px;
    transition: all 0.2s linear;
    
}
.courses:hover{
    background-color: rgb(249, 234, 217);
    box-shadow: 0 0 6px rgba(2, 206, 213, 0.4);
    transform: scale(1.05);
    
}
.card-title{
    font-weight: bold;
}